@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');
@import './reset';
@import './header';
@import './film';
@import './modal';

:root {
  --light-color: #fff;
  --light-grey-color: #ddd;
  --grey-color: #333;
  --black-color: #000;
  --orange-color: #ff5500;
  --orange-gradient: linear-gradient(135deg, rgb(255, 85, 0) 69.91%, rgb(214, 187, 0));
  --accent-color: #eb8c57;
}

html {
  font-size: calc(100vw / 1920 * 10);
}

body {
  font-family: 'Montserrat', sans-serif;
  background: var(--black-color);
  color: var(--light-color);
}

.container {
  max-width: 133rem;
  margin: 0 auto;
  padding: 0 15px;
}


